<!-- templates/dashboard.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Disaster Dashboard</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
</head>
<body>
    <div id="map" style="height: 500px;"></div>
    <h1>Disaster Data Dashboard</h1>
    
    <table>
        <thead>
            <tr>
                <th>Source</th>
                <th>Category</th>
                <th>Content</th>
                <th>Author</th>
                <th>Location</th>
                <th>Date</th>
                <th>Link</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
            <tr>
                <td>{{ item.source }}</td>
                <td>{{ item.category }}</td>
                <td>{{ item.content }}</td>
                <td>{{ item.author }}</td>
                <td>{{ item.location }}</td>
                <td>{{ item.created_at }}</td>
                <td><a href="{{ item.url }}" target="_blank">View</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script>
      var map = L.map('map').setView([51.505, -0.09], 13);
      L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
          attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
      }).addTo(map);
    </script>
</body>
</html>
